<div class="profile">
	<div class="row">
		<div class="col-4">
			<img src="{{ ambassador.getImage() }}" class="rounded-circle" width="80" />
		</div>
		<div class="col-8">
			<b>{{ ambassador.getFirstname() }} {{ ambassador.getLastname() }}</b>
			<br />
			UKM-ambassadør
			<br />
			<a href="//ukm.no/pl{{ ambassador.getPlid() }}/" target="_blank">{{ ambassador.getMonstringName() }}</a>
		</div>
	</div>
</div>