<div class="profile" style="text-align:{{align}}; margin-bottom: 15px;">
	<img src="{{ ambassador.getImage() }}" class="pull-{{align}} img img-circle" width="80" style="margin-{{ align=='right' ? 'left':'right' }}: 15px; margin-top: -4px;" />
	<strong>{{ ambassador.getFirstname() }} {{ ambassador.getLastname() }}</strong>
	<br />
	<a href="http://ukm.no/pl{{ ambassador.getPlid() }}/" target="_blank">{{ ambassador.getMonstringName() }}</a>
	<br />
	<a href="{{ url( 'hwi_oauth_logout' ) }}">Logg ut</a>&nbsp;
</div>