{% extends "UKMAmbBundle:Design:layout.html.twig" %}

{% block jumbo_header %}Ambassadørsiden{% endblock %}
	
{% block jumbo_content %}{{ homepage.title }}{% endblock %}

{% block HTMLtitle %}{{ homepage.title }}{% endblock %}

{% block content %}
	<div class="col-xs-12 col-md-4 pull-right">	
		<div id="infosquare" class="">
			{% embed "UKMAmbBundle:Profile:card.html.twig" with { 'align': 'right', 'ambassador': ambassador } %}{% endembed %}
			<div class="">
	        	<ol>
				{% for nav in page_nav %}
					{% embed "UKMAmbBundle:Design:nav.html.twig" %}{% endembed %}
				{% endfor %}
				</ol>
			</div>
		</div>
		<div class="col-xs-12 visible-xs">
			<a href="{{ fb_url }}" target="_blank" class="center"><img style="max-width: 100%;" src="http://grafikk.ukm.no/ambassador/fb_banner.png" alt="Banner for ambassadør-gruppa på facebook"></a>
			<p>&nbsp;</p>
		</div>
		<div class="visible-lg">
			<a href="{{ fb_url }}" target="_blank" class="center"><img style="max-width: 100%; margin-left: 55px; margin-top:8px;" src="http://grafikk.ukm.no/ambassador/fb_banner.png" alt="Banner for ambassadør-gruppa på facebook"></a>
			<p>&nbsp;</p>
		</div>
		<div class="clearfix"></div>
	</div>

	<div class="col-xs-12 col-md-8">
		{{ homepage.content|raw }}
	</div>
	<div class="clearfix"></div>

{% endblock %}