{% extends "UKMAmbBundle:Design:layout.html.twig" %}

{% block jumbo_content %}{{ homepage.title }}{% endblock %}

{% block HTMLtitle %}{{ homepage.title }}{% endblock %}

{% block content %}
	<div class="col-xs-12 col-md-4 pull-right">
		<div>
			<h2>Logg inn</h2>
			<p>Hvis du er registrert UKM-ambassadør kan du logge inn til din ambassadørside her</p>
			<p>
				<a href="{{ url('hwi_facebook_login') }}" class="btn btn-sm btn-block btn-success">Logg inn med facebook</a>
			</p>
		</div>
		
		<div>
			<h2>Bli ambassadør</h2>
			<p>Vil du bli UKM-ambassadør? <br />Vi ønsker alltid flere ambassadører velkommen! Les mer og kom i gang her!</p>
			<p>
				<a href="{{ url('ukm_amb_join_homepage') }}" class="btn btn-sm btn-block btn-success">Bli ambassadør</a>
			</p>
		</div>
		<p>&nbsp;</p>
	</div>
	<div class="col-xs-12 col-md-8">
		{% if authenticated %}
		<div class="alert alert-warning">
			<strong>Du må være registrert ambassadør for å se ambassadørsiden</strong>
			<br />
			Du er logget inn med facebook, men vi finner ikke at du er registrert ambassadør. 
			<br />
			Trykk på knappen "bli ambassadør", og følg veiviseren, så er du i gang!
		</div>
		{% endif %}
		{{ homepage.content|raw }}
	</div>
{% endblock %}