<a href="{{post.url}}">
	<div class="grid_post_image" style="background-image: url('{{post.image.url}}');"></div>
</a>
	
<a href="{{post.url}}"><h2>{{post.title|raw}}</h2></a>

<p>{{post.lead|raw}}</p>
<a href="{{post.url}}">les mer</a>
